<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/game.css">
  <script src="/js/game.js" type="module" defer></script>
  <title>Click_Me</title>
</head>

<body>
  <div class="counter-container">
    <h1>You clicked: <span id="times-clicked">1</span></h1>
    <h3>Clicks per Second:</h3>
  </div>
  <div class="main-btn centered" id="main-button">Click Me!</div>

  <div id="shop">
    <nav>
      <button id="upgrades-btn">Upgrades!</button>
      <button id="products-btn">Shop!</button>
    </nav>
    <div id="upgrades-tab" class="tab">
      <h1>Upgrades!</h1>
      <% if (ups.length> 0) { %>
        <% for (let upgrade of ups) { %>
          <div class="product">

            <div class="title">
              <%= upgrade.title %>
            </div>
            <div class="description">
              <%= upgrade.description %>
            </div>
            <div class="price">Cost: <%= upgrade.price %>
            </div>
            <div class="effect">Effect: <%= upgrade.effect %>
            </div>

            <form action="/game/buy-upgrade" method="POST">
              <input type="hidden" value="<%= upgrade.title %>" name="upgradeTitle">
              <button type="submit">Buy!</button>
            </form>

          </div>
          <% } %>
      <% } else { %>
        <h2>No upgrades to buy...</h2>
      <% } %>
    </div>

    <div id="products-tab" class="tab" style="display: none;">
      <h1>Shop!</h1>
      <% for (let prod of prods) { %>
        <div class="product">

          <div class="title">
            <%= prod.title %>
          </div>
          <div class="qty">0</div>
          <div class="description">
            <%= prod.description %>
          </div>
          <div class="price">Cost: <%= prod.price %>
          </div>
          <div class="effect">Effect: <%= prod.effect %>
          </div>

          <form action="/game/buy-product" method="POST" target="dummy">
            <input type="hidden" value="<%= prod.title %>" name="productTitle">
            <button type="submit">Buy!</button>
          </form>

        </div>
        <% } %>
    </div>
  </div>
  <iframe name="dummy" id="dummy" style="display: none;"></iframe>
</body>

</html>